body{
  padding: 0;
  margin: 0;
}

#score{
  position: absolute;
  z-index: 999;
  width:20px;
  height:20px;
  top:20px;
  left:20px;
  font-size: 20px;
  font-family: 微软雅黑;
  text-align: center;
  line-height: 20px;
  color: #fff;
}

.page{
  position: absolute;
  z-index: 99999;
  left:0;
  right:0;
  top:0;
  bottom: 0;
  background-color: silver;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page button{
  width: 50%;
  height: 100px;
}
